html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  :root {
    --color-primary: #6cae1d;
    --color-secondary: #24789e;
    --color-: #085d8a;
  }
  body {
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    color: #25292a;
  }
  img {
    max-width: 100%;
  }
  .white{
    color: #5C8D03;
  }
  .centrar {
    text-align: center;
  }
  .centrado {
    height: 100%;
  
    width: 85%;
    margin: 0 auto;
    background: none;
  }
  .no-margin{
    margin: 0;
  }
  .fs-1{
    font-size: 1rem;
    }

.header{
    background: #484c50;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
     

}   
.logo{
    display:flex;
    align-items: center;
    justify-content:center;

}
.nav{
    display: flex;
    width:100%;
    justify-content: space-around;
    color:#878e95;
    

}
.nav>ul{
    display: flex;
    width:50%;
    align-items: center;
    justify-content:space-between;
    text-decoration: none;
    list-style: none;
    
}
.header_main{
    height:90vh;
    width:100vw;
    display:flex;
    align-items:center;
    justify-content:space-around;

}
.header_left, .header_right{
    background: #085d8a;
    height:100%;
    width:100%;
}

